{% extends 'base.html.twig' %}

{% block title %}Store | Products of category{% endblock %}

{% block body %}
    <h1>Products of category</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.name }}" height="auto" width="auto" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }} €</p>
                    <a href="{{ url('product.detail', {slug: product.slug}) }}" class="btn btn-primary">Consulter</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}